@font-face{
    font-family : "Neusa next std";
    src: url("../font/Neusa.Next/Neusa.next/NeusaNextStd-Medium.ttf");
}
@font-face{
    font-family : "Neusa next pro";
    src: url("../font/Neusa.Next/Neusa.next/NeusaNextPro-Light.ttf");
}
@font-face{
    font-family: "Neusa bold";
    src: url("../font/Neusa.Next/Neusa.Next/NeusaNextPro-Bold.ttf");
}

*{
    margin : 0 ; 
    padding : 0 ;
    color : #dbdbdb;
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color : #1c1c1c;
    background-image: url(../img/login-background.png);
    background-repeat: no-repeat;
}
.nav{
    width : 90%;
    display : flex;
    margin: auto;
    font-family: Neusa next std;
    padding : 30px 0px;
    height : 53px;
}
.active{
    background-image: url(../img/active.png);
    z-index: 99;
    background-position: 516px;
    background-repeat: no-repeat;
}

.logo a{
    text-decoration: none;
    font-size : 20px;
}
.logo img {
    width : 20px;
}
.nav-items ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    margin : 0px 75px;
}
.nav-items ul a{
    text-decoration: none;
}
.nav-items ul li {
    margin: 15px 35px;
}


.wrapper {
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}
.login{
    width: 400px;
    font-family: Neusa next pro;
    transform: scale(1.2);
}
.column{
    width: 540px;
    
}
.column label{
    font-size: 20px ;
}
.column input{
    width : 400px;
    height : 40px;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    color: #070707;
}
.column:nth-child(2), .column:nth-child(3), .column:nth-child(4){
    margin-top: 20px;
}
.login p{
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}
.orange-bg{
    background-color: #F57404;
}
.yellow{
    color : #EDF504;
}
.button {
    text-align: center;
}
.login button {
    border: none;
    width : 80px;
    height: 30px;
    font-family: Neusa next std;
    text-align: center;
    margin-top: 30px;
}
.login a{
    text-decoration: none;
}
.oneline{
    display : flex;
    width : 360px
}
.oneline input:nth-child(2){
    margin-left : 10px
}
.usia{
    margin-left: 360px;
}


.headline{
    width : 600px;
    display: flex;
    margin-left: 15%;
    transform: scale(1.2);
}
.line{
    width : 30px;
    height: 500px;
}
.text{
    margin-left: 70px ;
}
.text h1{
    font-family: Neusa next std;
    font-size: 100px;
}
.text p{
    font-family: Neusa next pro;
    font-size: 30px;
    line-height: 45px;
    margin-top: 30px;
    opacity: .6;
}

